<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="login-container">
{% if username %}
<form action="{{ url_for('angebot_einfuegen') }}" method="GET">
    <h1>Verkaufsangebot erstellen:</h1>
    <label for="hersteller">Hersteller:</label>
    <br>
    <input type="text" name="hersteller" id="hersteller" list="herstellerindb">
    <datalist id="herstellerindb">
        {% for hersteller in hersteller_liste %}
            <option value="{{ hersteller[1] }}">{{ hersteller[1] }}</option>
        {% endfor %}
    </datalist>
    <br>
    <label for="automodel">Automodel:</label>
    <br>
    <input type="text" name="automodel" list="automodels_in_db" required>
    <datalist id="automodels_in_db">
        {% for automodel in modelle_liste %}
            <option value="{{ automodel[1] }}">{{ automodel[1] }}</option>
        {% endfor %}
    </datalist>
    <br>
    <label for="preis">Preis:</label>
    <br>
    <input id="preis" name="preis" required>
    <br>
    <br>
    <label for="beschreibung">Angebots Beschreibung:</label>
    <br>
    <textarea id="beschreibung" name="beschreibung"> Hier Bitte Angebot beschreiben </textarea>
    <br>
    <br>
    <label for="verkaeufer">Verkaeufer:</label>
    <br>
    <input type="text" name="verkaeufer" list="verkaeufer_in_db" required>
    <datalist id="verkaeufer_in_db">
        {% for verkaeufer in verkaeufer_liste %}
            <option value="{{ verkaeufer[1] }}">{{ verkaeufer[1] }}</option>
        {% endfor %}
    </datalist>
    <br>
    <button type="submit">Angebot erstellen</button>
{% else %}
    {% include "login.html" %}
{% endif %}

</form>
</div>
</body>
</html>