<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form>
    <h1>Wähle einen Hersteller aus</h1>

    <label for="hersteller">Hersteller:</label>
      <br>
    <input type="text" name="hersteller" list="herstellerindb">
    <datalist id="herstellerindb">
        {% for hersteller in hersteller_liste %}
        <option value="{{ hersteller[1] }}">{{ hersteller[1] }}</option>
      {% endfor %}
    </datalist>

    <br>

    <label for="automodel">Automodel:</label>
      <br>
    <input type="text" name="automodel" list="automodels_in_db">
    <datalist id="automodels_in_db">
        <option value="3er Golf">
        <option value="Käfer">
        <option value="3">
        <option value="7">
    </datalist>
    <br>


    <label for="preis">Preis:</label>
    <br>
    <input id="preis" name="preis">
    <br><br>
    <label for="beschreibung">Angebots Beschreibung:</label>
    <br>
    <textarea id="beschreibung" name="beschreibung"> Hier Bitte Angebot beschreiben </textarea>
    <br>
          <br>
    <label for="verkaeufer">Verkaeufer:</label>
    <br>
    <input id="verkaeufer" name="verkaeufer">
    <br><br>
    <button type="submit">Angebot Erstellen</button>


</form>
</body>
</html>