<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>die Welt der Autos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

{% block nav %}
	<nav>
    <form action="{{ url_for('homepage') }}" method="GET">
        <button type="submit">Homepage</button>
    </form>
    <form action="{{ url_for('login') }}" method="GET">
        <button type="submit">Login</button>
    </form>
    <form action="{{ url_for('logout') }}" method="GET">
        <button type="submit">Logout</button>
    </form>
    </nav>
{% endblock %}
<div class="login-container">
    <h1>die Welt der Autos</h1>
    <form method="GET" action="/result">
        <label for="hersteller">Hersteller</label>

        <h1>Wähle einen Hersteller aus</h1>
        <select name="id">
            {% for hersteller in data %}
                <option value="{{ hersteller[0] }}">{{ hersteller[1] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Okay</button>
    </form>

</div>
</body>
</html>